body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.place {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.place img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.place h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.place p {
    font-size: 16px;
    color: #666;
}
